*.after
*.before
*.cache/
*.debhelper
*.debhelper/
*.deps/
*.in
*.log
*.m4
*.o
*.out
*.status
*~

compile
config.h
config.h.in
configure

debian/*.substvars
debian/*build-stamp
debian/files
debian/pull-all/

depcomp
install-sh
missing

Makefile

src/pull

stamp*
debian/*.substvars
