Source: pull-all
# Standards-Version:
Priority: optional
Maintainer: Steve Jeong <how2soft@gmail.com>
Build-Depends: debhelper (>= 10),
  libc6-dev

Package: pull-all
Section: devel
Architecture: any
Depends: ${misc:Depends}
Description: random pull numbers.
  ramdom numbers and select. 
